spring.datasource.url=jdbc:postgresql://localhost:5432/nombre_de_bd
spring.datasource.username=usuario
spring.datasource.password=contraseña

cloudinary.cloud_name=nombre_cloud
cloudinary.api_key=api_key
cloudinary.api_secret=api_secret